<!DOCTYPE html>
<!-- Team Greedy Toads: Helena Williams, Arib Chowdhury, Benjamin Gallai, Anya Zorin
SoftDev
K14: Form and Function
2020-12-08 -->
<html>

  <head>
    <title> LOGIN PAGE </title>
  </head>

  <body>
    <h1>
    Welcome, Travelers of the Intertubz!<br>
    <i>This page of the World Wide Web belongs to Team Greedy Toads: Helena, Benjamin, Arib, Anya</i>
    </h1>

	<br>
	<a href="http://fakegrimlock.com/">
    	<img src="static/fakegrimlock_podium.jpg" width="300" height="300">
	</a>
	<br>

<h3>
Enter your username below to proceed.
</h3>
    <form action="/auth">
      <input type="text" name="username">
      <input type="submit" name="sub1">
    </form>
     <br>
  </body>

</html>
