<!-- 
Team Greedy Toads: Helena Williams, Arib Chowdhury, Benjamin Gallai, Anya Zorin, Marquee
SoftDev
K15: Sessions Greetings
2020-12-11 
-->
<!DOCTYPE html>
<html>
  <head>
    <title> Error </title>
  </head>
  <body>
    <h1>
        Welcome, Travelers of the Intertubz!<br>
        <i>This page of the World Wide Web belongs to Team Greedy Toads: Helena, Benjamin, Arib, Anya</i>
    </h1>
    <h1> {{ errmsg }} </h1>
    <marquee scrollamount="30"; behavior="alternate">Please try again!</marquee>
    <form action="/">
        <input type="submit" name="tryagain" value="Go Back to Login">
    </form>
  </body>

</html>