<!-- 
Team Greedy Toads: Helena Williams, Arib Chowdhury, Benjamin Gallai, Anya Zorin
SoftDev
K15: Sessions Greetings
2020-12-11 
-->
<!DOCTYPE html>
<html>
  <head>
    <title> Login </title>
  </head>
  <body> 
    <h1>
        Welcome, Travelers of the Intertubz!<br>
        <i>This page of the World Wide Web belongs to Team Greedy Toads: Helena, Benjamin, Arib, Anya</i>
    </h1>
    <h3>
      Enter your username and password below to proceed.
    </h3>
    <form action="/auth">
      Username: <input type="text" name="username"></br>
      Password:<input type="password" name="password"></br>
      <input type="submit" name="sub1">
    </form>
    <br>
  </body>

</html>