<!-- 
Team Greedy Toads: Helena Williams, Arib Chowdhury, Benjamin Gallai, Anya Zorin, Marquee
SoftDev
K15: Sessions Greetings
2020-12-11 
-->
<!DOCTYPE html>
<html>
  <head>
    <title> Welcome </title>
  </head>
  <body>
    <h1>
        Welcome, Travelers of the Intertubz!<br>
        <i>This page of the World Wide Web belongs to Team Greedy Toads: Helena, Benjamin, Arib, Anya</i>
    </h1>
    <br>
    <marquee scrollamount="30"; behavior="alternate">
        <img src="static/toad.png" width="300">
    </marquee>
	<br>
    You are logged in as {{ username }}

    <form action="/logout">
        <input type="submit" name="logout" value="Logout">
    </form>

  </body>

</html>